<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">


    <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
            <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
            <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加商品</button>
        </div>

        <table id="LAY-goods-list" lay-filter="LAY-goods-list"></table>

        <script type="text/html" id="coverImg">
            <img style="display: inline-block; width: 50%; height: 100%;" src={{ d.cover }}>
        </script>
        <script type="text/html" id="table-list-handle">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                    class="layui-icon layui-icon-edit"></i>编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                    class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
    </div>
</div>
</div>


<!--隐藏div ,实现商品的添加和编辑功能-->
<div style="display: none;" id="popAddGood">
    <div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin"
         style="padding: 20px 30px 0 0;">
        <input type="hidden" value="0" name="goodId" id="goodId">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名</label>
            <div class="layui-input-inline">
                <input type="text" name="goodsName" lay-verify="required" placeholder="请输入商品名" autocomplete="off"
                       class="layui-input" id="goodsName">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">宠物品种</label>
            <div class="layui-input-block">
                <select name="superId" lay-verify="required" id="superId" lay-filter="superId">
                    <option value="0">请选择宠物品种</option>
                    <!--               使用js添加数据-->


                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">宠物类别</label>
            <div class="layui-input-block">
                <select name="typeId" lay-verify="required" id="typeId">
                    <option value="0">请选择宠物类别</option>
                    <!--               使用js添加数据-->

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单价</label>
            <div class="layui-input-inline">
                <input type="text" name="price" lay-verify="required" placeholder="请输入单价" autocomplete="off"
                       class="layui-input" id="price">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">总数量</label>
            <div class="layui-input-inline">
                <input type="text" name="stock" lay-verify="required" placeholder="请输入总数量" autocomplete="off"
                       class="layui-input" id="stock">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入备注(不超过200字)" class="layui-textarea" id="remark"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">封面</label>
            <div class="layui-input-inline">
                <input type="text" name="cover" lay-verify="required" placeholder="请上传图片" autocomplete="off"
                       class="layui-input" id="coverVal">
            </div>
            <button style="float: left;" type="button" class="layui-btn" id="layuiadmin-upload-cover">上传封面</button>
            <img id="cover" width="100px">
        </div>

        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">上架状态</label>-->
        <!--            <div class="layui-input-inline">-->
        <!--                <input type="checkbox" lay-filter="status" name="status" value="1" lay-skin="switch" lay-text="上架|待上架">-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="layui-form-item" style="margin-left: 100px">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="LAY-good-add-submit">执行操作</button>
<!--                <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            </div>
        </div>

    </div>
</div>


<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'useradmin', 'table', 'upload'], function () {
        var $ = layui.$, form = layui.form
            , upload = layui.upload
            , table = layui.table;
        var openWindow = null;
        //动态渲染顶级分类的数据
        let superType = $("#superId");
        $.get("/goods/findSuper", {}, function (data) {
            $.each(data, function (index, goodType) {
                var op = $("<option>", {
                    "text": goodType.typeName,
                    "value": goodType.typeId,
                });
                superType.append(op);
                form.render();
            });

        });
        //顶级分类下拉框监听
        form.on('select(superId)', function (data) {
            var id = data.value;
            if (id == 0) {
                $("#typeId").empty();
                $("#typeId").append("<option value='0'>请选择宠物类别</option>");
                form.render('select');//重新渲染下拉框
                return;
            }
            $.get('/goods/findChildType', {"superId": id}, function (res) {
                //实时渲染子分类
                $("#typeId").empty();
                $("#typeId").append("<option value='0'>请选择宠物类别</option>");
                $.each(res, function (i, n) {
                    $("#typeId").append("<option value='" + n.typeId + "'>" + n.typeName + "</option>");
                });
                form.render();
            });
            form.render();
        });

        //文件上传监听,重新渲染
        upload.render({
            elem: '#layuiadmin-upload-cover'
            , url: "/goods/upload"
            , accept: 'images'
            , method: 'post'
            , acceptMime: 'jpg/png/gif/jpeg'
            , done: function (res) {
                $(this.item).prev("div").children("input").val(res.data.src);
                $.get(res.data.src, {}, function (data) {
                    $("#cover").attr("src", data);//将图片页面实时显示
                });
            }
        });

        form.on('submit(LAY-good-add-submit)', function (data) {
            var field = data.field;
            console.log(field);
            if(field.typeId == "0" || field.superId == "0"){
                layer.alert("必须选择商品类型");
                return false;
            }
            $.post("/goods/addGood", field, function (res) {
                layer.alert(res);
                table.reload("LAY-goods-list"); //数据刷新
                layer.close(openWindow);
            });


        });


        //添加商品事件
        var active = {
            add: function () {
                // $('#layuiadmin-form-admin')[0].reset();
                // form.render();
                $("#goodId").val(0);
                $("#goodsName").val("");
                $("#price").val("");
                $("#stock").val("");
                $("#remark").val("");
                $("#cover").attr("src","");
                $("#coverVal").val("");
                $("#superId").val(0);
                $("#typeId").val(0);
                openWindow = layer.open({
                    type: 1
                    , title: '添加商品'
                    , content: $("#popAddGood")
                    , area: ['600px', '600px']
                    , btn: ['完成', '取消']
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        table.render({
            //商品列表
            elem: "#LAY-goods-list",
            url: '/goods/findAllGood',
            cols: [[{type: "checkbox", fixed: "left"},
                {
                    field: "goodId", width: 100, title: "商品ID", sort: !0, templet: function (data) {
                        return data.goods.goodId;
                    }
                },
                {
                    field: "goodsName", title: "商品名", width: 120, templet: function (data) {
                        return data.goods.goodsName;
                    }
                }, // templet: "#imgTpl" 加载图片
                {field: "typeName", title: "类别", width: 100},
                {field: "superName", title: "上级类别", width: 100},
                {
                    field: "price", title: "单价", width: 100, sort: !0, templet: function (data) {
                        return data.goods.price;
                    }
                },
                {
                    field: "stock", title: "库存", width: 100, sort: !0, templet: function (data) {
                        return data.goods.stock;
                    }
                },
                {
                    field: "status", title: "状态", width: 120, templet: function (data) {
                        return data.goods.status == 0 ? "未上架" : "已上架";
                    }
                },
                {field: "cover", title: "封面", width: 120, templet: "#coverImg"},
                {
                    field: "remark", title: "备注", width: 120, templet: function (data) {
                        return data.goods.remark;
                    }
                },
                {
                    title: "操作",
                    width: 200,
                    align: "center",
                    fixed: "right",
                    toolbar: "#table-list-handle"
                }
            ]],
            page: !0,
            limit: 10,
            text: "对不起，加载出现异常！"
        }), table.on("tool(LAY-goods-list)", function (e) {
            e.data;
            if ("del" === e.event) {
                layer.prompt({formType: 1, title: "敏感操作，请验证口令"}, function (t, i) {
                    if (t != 123) {
                        layer.alert("口令错误");
                        return;
                    }
                    layer.close(i), layer.confirm("确定删除此商品?", function (t) {
                        var $ = layui.jquery;
                        console.log(e.data);
                        $.get("/goods/deleteById", {"goodId": e.data.goods.goodId})
                        layer.msg("删除成功");
                        e.del(), layer.close(t)
                    })
                });
            } else if ("edit" === e.event) {
                var field = e.data;
                //将数据填装到编辑表中
                console.log(field);
                $("#goodId").val(field.goods.goodId);
                $("#goodsName").val(field.goods.goodsName);
                $("#price").val(field.goods.price);
                $("#stock").val(field.goods.stock);
                $("#remark").val(field.goods.remark);
                $("#cover").attr("src",field.cover);
                $("#coverVal").val(field.reqCover);
                // $("#superId").val(field.goods.superId);
                // $("#typeId").val(field.goods.typeId);

                form.render();

                openWindow = layer.open({
                    type: 1,
                    title: "编辑商品",
                    content: $("#popAddGood"),
                    area: ["650px", "600px"],
                    btn: ["确定", "取消"],
                })
            }
        })

    });
</script>
</body>
</html>
