<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Shop宠物商城</title>
    <link rel="stylesheet" type="text/css" href="../layui/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../layui/layui/css/layui.css">
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../layui/layui/layui.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="icon" href="../images/chongwu.png" type="image/x-icon"/>
</head>
<body>

<!--顶部导航栏-->
<div th:include="navigation :: nav"></div>


<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="/" title="E-Shop 宠物商城">
                    <img src="/images/logo.png" height="130" width="130"/>
                </a>
            </h1>
            <div class="mallSearch">
                <form action="/goods/findBySearch" class="layui-form" novalidate>
                    <input type="text" name="title" required lay-verify="required" autocomplete="off"
                           class="layui-input" placeholder="请输入需要的商品">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <input type="hidden" name="" value="">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="content content-nav-base commodity-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="/commodity" class="active">所有商品</a>
                    <a href="/buytoday">今日团购</a>
                    <a href="/about">关于我们</a>
                </div>
            </div>
        </div>
    </div>
    <div class="commod-cont-wrap">
        <div class="commod-cont w1200 layui-clear">
            <div class="left-nav">
                <div class="title">
                    <a href="javascript:;" onclick="getByType(-1)" style="color: white">所有分类</a>
                </div>
                <div class="list-box">
                    <dl th:each="allType : ${allTypeList}" style="background: #e6e8ec">
                        <dt th:text="${allType.superType.typeName}"></dt>

                        <dd th:each="childType : ${allType.childTypeList}">
                            <a href="javascript:;" style="display: inline-block;background: #d0d7d3; width:78%;"
                               th:onclick="'getByType('+${childType.typeId}+')'" th:text="'- '+${childType.typeName}"></a>
                        </dd>
                    </dl>

                </div>
            </div>
            <div class="right-cont-wrap">
                <div class="right-cont">
                    <div class="sort layui-clear">
                        <a class="active" href="javascript:;" event='volume'>销量</a>
                        <a href="javascript:;" event='price'>价格</a>
                        <a href="javascript:;" event='newprod'>新品</a>
                        <a href="javascript:;" event='collection'>收藏</a>
                    </div>
                    <div class="prod-number">
                      总条数:  <span id="count"></span>
                    </div>
                    <div class="cont-list layui-clear" id="list-cont">
                        <!--       内容主体         -->
                    </div>

                    <!-- 分页 -->
                    <div id="demo0" style="text-align: center;">
                        <button type="button" onclick="getByType(null,1);" class="layui-btn">首页</button>
                        <button type="button" onclick="last();" class="layui-btn">上一页</button>
                        <span id="currPage" style="width: 10px;display: inline-block">1</span>/
                        <span id="pageCount"style="width: 10px;display: inline-block"></span>
                        <button type="button" onclick="nextPage();" class="layui-btn">下一页</button>
                        <button type="button" onclick="end();" class="layui-btn">尾页</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--底部声明栏-->
<div th:include="footer :: footer"></div>

<!--自己写的ajax请求-->
<script>
    let type_id = -1;
    let pageCounts = 1;//总页数
    let limit = 9;//每页条数
    if(window.localStorage.getItem("typeId") != null){
        type_id = window.localStorage.getItem("typeId");
        window.localStorage.removeItem("typeId");
    }
    getByType(type_id);//初始化,查询全部

    function getByType(typeid,page){
        if(typeid != null){
            type_id = typeid;
        }
        if(page == null){
            page = 1;
        }
        $.get("/goods/findAllGood",{"type_id":type_id,"page":page,"limit":limit,},function(response){

            $("#list-cont").empty();//清空内容区

            let goodList = response.data;
            console.log(response);
            //设置页面属性,分页属性
            $("#count").text(response.count);
            pageCounts = Math.ceil(response.count/limit);
            $("#pageCount").text(pageCounts);
            if(pageCounts == 0){
                $("#list-cont").append("<h2 align='center'>暂无该分类的商品!(￣o￣) . z Z　</h2><hr>");
            }

            $.each(goodList,function(index,good){
                let item = $("<div>",{
                    "class":"item",
                    "height":"270",
                    "width":"260",
                });
                let imgDiv = $("<div>",{
                    "class":"img",
                });
                imgDiv.append("<a href='/goods/findById/"+good.goods.goodId+"' >" +
                    "<img width='80%' height='165.5' style='margin:5% 10%;' align='center' src="+good.cover+"></a>");
                let text = $("<div>",{
                    "class":"text",
                });
                let title = $("<p>",{
                    "class":"title",
                    "text":good.goods.goodsName,
                });
                let price = $("<p>",{
                    "class":"price",
                });
                let pri = $("<span>",{
                    "class":"pri",
                    "text":"￥"+good.goods.price,
                });
                let nub = $("<span>",{
                    "class":"nub",
                    "text":"库存:"+good.goods.stock,
                });
                text.append(title);
                price.append(pri,nub)
                text.append(price);
                item.append(imgDiv,text);
                $("#list-cont") .append(item);
                $("#currPage").text(page);//设置页数

            });

        });
    }

    function last(){
        var currPage = $("#currPage").text();
        currPage = currPage-1;
        if(currPage <= 0){
            currPage = 1;
            return;

        }
        getByType(null,currPage)
    }

    function nextPage(){
        var currPage = $("#currPage").text();
        currPage = Number(currPage)+1;
        if(currPage > pageCounts){
            currPage = pageCounts;
            return;
        }
        getByType(null,currPage)
    }

    function end(){
        var currPage = $("#currPage").text();
        if(currPage == pageCounts){
            return;
        }
        getByType(null,pageCounts);
    }


</script>

<script>

    layui.config({
        base: '../layui/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm', 'laypage', 'jquery'], function () {
        var laypage = layui.laypage, $ = layui.$,
            mm = layui.mm;

        // 模版引擎导入

        $('.sort a').on('click', function () {
            $(this).addClass('active').siblings().removeClass('active');
            //修改样式,发送ajax请求,重新渲染页面数据


        })
        $('.list-box dt').on('click', function () {
            if ($(this).attr('off')) {
                $(this).removeClass('active').siblings('dd').show()
                $(this).attr('off', '')
            } else {
                $(this).addClass('active').siblings('dd').hide()
                $(this).attr('off', true)
            }
        })

    });
</script>






</body>
</html>