<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Shop宠物商城</title>
    <link rel="stylesheet" type="text/css" href="../layui/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../layui/layui/css/layui.css">
    <script type="text/javascript" src="../layui/layui/layui.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="icon" href="../images/chongwu.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="list-cont">
<div class="site-nav-bg">
    <div class="site-nav w1200">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a href="/">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login"><a href="/login">登录</a></div>
            <div class="sp-cart"><a href="/shopcart">购物车</a><span>2</span></div>
        </div>
    </div>
</div>


<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="E-Shop 宠物商城">
                    <img src="/images/logo.png" height="150" width="150"/>
                </a>
            </h1>
            <div class="mallSearch">
                <form action="" class="layui-form" novalidate>
                    <input type="text" name="title" required lay-verify="required" autocomplete="off"
                           class="layui-input" placeholder="请输入需要的商品">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <input type="hidden" name="" value="">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="/commodity" class="active">所有商品</a>
                    <a href="/buytoday">今日新增</a>
                    <a href="/information">宠物资讯</a>
                    <a href="/about">关于我们</a>
                </div>
            </div>
        </div>
    </div>

    <!--      菜单-->
    <div class="main" id="main">
        <div class="menu-box">
        </div>
        <!--内容-->
        <div class="sub-menu hide" id="sub-menu">
            <div class="inner-box" th:each="allType : ${allTypeList}">
                <div class="sub-inner-box">
                    <div class="title" th:text="${allType.superType.typeName}"></div>
                    <div class="sub-row">
                        <span class="bold mr10" th:text="${allType.superType.typeName}"></span>

                        <span th:each="childType : ${allType.childTypeList}">
                                <a href="" th:text="${childType.typeName}"></a>
                                <span class="ml10 mr10">/</span>
                        </span>

                    </div>

                </div>
            </div>


        </div>
        <!-- 菜单 -->
        <div class="menu-content" id="menu-content">
            <div class="menu-item" th:each="allType : ${allTypeList}">
                <a href="">
                    <span th:text="${allType.superType.typeName}"></span>
                    <i class="icon">&#xe665;</i>
                </a>
            </div>

        </div>

        <!--    轮播图-->
        <div class="banner" id="banner">
            <a href="">
                <div class="banner-slide slide1 slide-active"></div>
            </a>
            <a href="">
                <div class="banner-slide slide2"></div>
            </a>
            <a href="">
                <div class="banner-slide slide3"></div>
            </a>
        </div>
        <a href="javascript:void(0)" class="button prev" id="prev"></a>
        <a href="javascript:void(0)" class="button next" id="next"></a>
        <div class="dots" id="dots">
            <span class="active"></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <script src="/js/script.js"></script>



<!--    -->
    <div class="floors">
        <div class="sk">
            <div class="sk_inner w1200">
                <div class="sk_hd">
                    <a href="javascript:;">
                        <img src="../layui/static/img/s_img1.jpg">
                    </a>
                </div>
                <div class="sk_bd">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item>
                            <div class="item-box">
                                <div class="item">
                                    <a href="javascript:;"><img src="../layui/static/img/s_img2.jpg"></a>
                                    <div class="title">宝宝五彩袜棉质舒服</div>
                                    <div class="price">
                                        <span>￥49.00</span>
                                        <del>￥99.00</del>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="javascript:;"><img src="../layui/static/img/s_img3.jpg"></a>
                                    <div class="title">宝宝五彩袜棉质舒服</div>
                                    <div class="price">
                                        <span>￥49.00</span>
                                        <del>￥99.00</del>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="javascript:;"><img src="../layui/static/img/s_img4.jpg"></a>
                                    <div class="title">宝宝五彩袜棉质舒服</div>
                                    <div class="price">
                                        <span>￥49.00</span>
                                        <del>￥99.00</del>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="javascript:;"><img src="../layui/static/img/s_img5.jpg"></a>
                                    <div class="title">宝宝五彩袜棉质舒服</div>
                                    <div class="price">
                                        <span>￥49.00</span>
                                        <del>￥99.00</del>
                                    </div>
                                </div>
                            </div>
                            <div class="item-box">
                                <div class="item">
                                    <a href="javascript:;"><img src="../layui/static/img/s_img2.jpg"></a>
                                    <div class="title">宝宝五彩袜棉质舒服</div>
                                    <div class="price">
                                        <span>￥49.00</span>
                                        <del>￥99.00</del>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="javascript:;"><img src="../layui/static/img/s_img3.jpg"></a>
                                    <div class="title">宝宝五彩袜棉质舒服</div>
                                    <div class="price">
                                        <span>￥49.00</span>
                                        <del>￥99.00</del>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="javascript:;"><img src="../layui/static/img/s_img4.jpg"></a>
                                    <div class="title">宝宝五彩袜棉质舒服</div>
                                    <div class="price">
                                        <span>￥49.00</span>
                                        <del>￥99.00</del>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="javascript:;"><img src="../layui/static/img/s_img5.jpg"></a>
                                    <div class="title">宝宝五彩袜棉质舒服</div>
                                    <div class="price">
                                        <span>￥49.00</span>
                                        <del>￥99.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="hot-recommend-con">
        <div class="hot-con1 w1200 layui-clear">
            <div class="item">
                <h4>热销推荐</h4>
                <div class="big-img">
                    <a href="javascript:;"><img src="../layui/static/img/hot1.png"></a>
                </div>
                <div class="small-img">
                    <a href="javascript:;"><img src="../layui/static/img/hot2.png" alt=""></a>
                </div>
            </div>
            <div class="item">
                <div class="top-img">
                    <a href="javascript:;"><img src="../layui/static/img/hot5.jpg"></a>
                </div>
                <div class="bottom-img">
                    <a href="javascript:;"><img src="../layui/static/img/hot6.jpg"></a>
                    <a class="baby-cream" href="javascript:;"><img src="../layui/static/img/hot7.jpg"></a>
                </div>
            </div>
            <div class="item item1 margin0 padding0">
                <a href="javascript:;"><img src="../layui/static/img/hot8.jpg"></a>
                <a href="javascript:;"><img class="btm-img" src="../layui/static/img/hot9.jpg"></a>
            </div>
        </div>
    </div>


    <div class="product-cont w1200" id="product-cont">
        <div class="product-item product-item1 layui-clear">
            <div class="left-title">
                <h4><i>1F</i></h4>
                <img src="../layui/static/img/icon_gou.png">
                <h5>宝宝服饰</h5>
            </div>
            <div class="right-cont">
                <a href="javascript:;" class="top-img"><img src="../layui/static/img/img12.jpg" alt=""></a>
                <div class="img-box">
                    <a href="javascript:;"><img src="../layui/static/img/s_img7.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img8.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img9.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img10.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img11.jpg"></a>
                </div>
            </div>
        </div>
        <div class="product-item product-item2 layui-clear">
            <div class="left-title">
                <h4><i>2F</i></h4>
                <img src="../layui/static/img/icon_gou.png">
                <h5>奶粉辅食</h5>
            </div>
            <div class="right-cont">
                <a href="javascript:;" class="top-img"><img src="../layui/static/img/img12.jpg" alt=""></a>
                <div class="img-box">
                    <a href="javascript:;"><img src="../layui/static/img/s_img7.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img8.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img9.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img10.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img11.jpg"></a>
                </div>
            </div>
        </div>
        <div class="product-item product-item3 layui-clear">
            <div class="left-title">
                <h4><i>3F</i></h4>
                <img src="../layui/static/img/icon_gou.png">
                <h5>宝宝用品</h5>
            </div>
            <div class="right-cont">
                <a href="javascript:;" class="top-img"><img src="../layui/static/img/img12.jpg" alt=""></a>
                <div class="img-box">
                    <a href="javascript:;"><img src="../layui/static/img/s_img7.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img8.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img9.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img10.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img11.jpg"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="product-list-box" id="product-list-box">
        <div class="product-list-cont w1200">
            <h4>更多推荐</h4>
            <div class="product-item-box layui-clear">
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more1.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more2.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more3.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more1.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more2.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more3.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more1.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more2.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more3.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more1.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more2.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more3.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more1.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more2.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more3.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more1.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more2.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more3.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more1.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more2.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more3.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more1.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more2.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more3.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more1.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more2.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
                <div class="list-item">
                    <a href="javascript:;"><img src="../layui/static/img/more3.jpg"></a>
                    <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
                    <span>￥100.00</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="ng-promise-box">
        <div class="ng-promise w1200">
            <p class="text">
                <a class="icon1" href="javascript:;">7天无理由退换货</a>
                <a class="icon2" href="javascript:;">满99元全场免邮</a>
                <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
            </p>
        </div>
    </div>
    <div class="mod_help w1200">
        <p>
            <a href="javascript:;">关于我们</a>
            <span>|</span>
            <a href="javascript:;">帮助中心</a>
            <span>|</span>
            <a href="javascript:;">售后服务</a>
            <span>|</span>
            <a href="javascript:;">母婴资讯</a>
            <span>|</span>
            <a href="javascript:;">关于货源</a>
        </p>
        <p class="coty">母婴商城版权所有 &copy; 2012-2020</p>
    </div>
</div>
<script type="text/javascript">

    layui.config({
        base: '../layui/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm', 'carousel'], function () {
        var carousel = layui.carousel,
            mm = layui.mm;
        var option = {
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always'
            , height: '298'
            , indicator: 'none'
        }
        carousel.render(option);
        // 模版引擎导入
        // var ins = carousel.render(option);
        // var html = demo.innerHTML;
        // var listCont = document.getElementById('list-cont');
        // // console.log(layui.router("#/about.html"))
        //  mm.request({
        //    url: '../json/index.json',
        //    success : function(res){
        //      console.log(res)
        //      listCont.innerHTML = mm.renderHtml(html,res)
        //      ins.reload(option);
        //    },
        //    error: function(res){
        //      console.log(res);
        //    }
        //  })


    });


</script>
</body>
</html>