<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Shop宠物商城</title>
    <link rel="stylesheet" type="text/css" href="../layui/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../layui/layui/css/layui.css">
    <script type="text/javascript" src="../layui/layui/layui.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="icon" href="../images/chongwu.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="list-cont">

<div class="site-nav-bg" style="width: 100%; margin: 20px 0">
    <ul class="layui-nav" style="background:#b49fd0;">
        <li class="layui-nav-item" style="margin-left:10%;">
            <a href="/"> <i class="layui-icon layui-icon-home"></i>首页</a>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;">导航</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">所有商品</a></dd>
                <dd><a href="">今日新增</a></dd>
                <dd><a href="">宠物资讯</a></dd>
                <dd><a href="">关于我们</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item" style="float: right;margin-right:10%;">.</li>

        <li class="layui-nav-item" th:if="${session.buyer != null}"
            style="float: right;margin-left:5px;">
            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"  th:if="${session.buyer != null}"
            style="float: right;">
            <a href="">个人中心<span class="layui-badge-dot"></span></a>
        </li>

        <li class="layui-nav-item" style="float: right;">
            <a href="/shopcart"><i class="layui-icon layui-icon-cart-simple"></i> 购物车 <span class="layui-badge">2</span></a>
        </li>

        <li class="layui-nav-item"  th:if="${session.buyer == null}"
            style="float: right;">
            <div class="login"><a href="/login">登录</a></div>
        </li>
    </ul>
</div>


<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="E-Shop 宠物商城">
                    <img src="/images/logo.png" height="130" width="130"/>
                </a>
            </h1>
            <div class="mallSearch">
                <form action="" class="layui-form" novalidate>
                    <input type="text" name="title" required lay-verify="required" autocomplete="off"
                           class="layui-input" placeholder="请输入需要的商品">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <input type="hidden" name="" value="">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="/commodity" class="active">所有商品</a>
                    <a href="/buytoday">今日新增</a>
                    <a href="/information">宠物资讯</a>
                    <a href="/about">关于我们</a>
                </div>
            </div>
        </div>
    </div>

    <!--      菜单-->
    <div class="main" id="main">
        <div class="menu-box">
        </div>
        <!--内容-->
        <div class="sub-menu hide" id="sub-menu">
            <div class="inner-box" th:each="allType : ${allTypeList}">
                <div class="sub-inner-box">
                    <div class="title" th:text="${allType.superType.typeName}"></div>
                    <div class="sub-row">
                        <span class="bold mr10" th:text="${allType.superType.typeName}"></span>

                        <span th:each="childType : ${allType.childTypeList}">
                                <a href="" th:text="${childType.typeName}"></a>
                                <span class="ml10 mr10">/</span>
                        </span>

                    </div>

                </div>
            </div>


        </div>
        <!-- 菜单 -->
        <div class="menu-content" id="menu-content" style="overflow:auto;">
            <div class="menu-item" th:each="allType : ${allTypeList}">
                <a href="">
                    <span th:text="${allType.superType.typeName}"></span>
                    <i class="icon">&#xe665;</i>
                </a>
            </div>

        </div>

        <!--    轮播图-->
        <div class="banner" id="banner">
            <a href="">
                <div class="banner-slide slide1 slide-active"></div>
            </a>
            <a href="">
                <div class="banner-slide slide2"></div>
            </a>
            <a href="">
                <div class="banner-slide slide3"></div>
            </a>
        </div>
        <a href="javascript:void(0)" class="button prev" id="prev"></a>
        <a href="javascript:void(0)" class="button next" id="next"></a>
        <div class="dots" id="dots">
            <span class="active"></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <script src="/js/script.js"></script>

    <!--热销推荐-->
    <div class="hot-recommend-con">
        <div class="hot-con1 w1200 layui-clear">
            <div class="item">
                <h4>热销推荐</h4>
                <div class="big-img">
                    <a href="javascript:;"><img src="/img/暖冬服饰.jpg" width="95%"/></a>
                </div>
            </div>
            <div class="item">
                <div class="top-img">
                    <a href="javascript:;"><img src="/img/铲屎官的必修课.jpg" width="97%" ></a>
                </div>
                <div class="bottom-img">
                    <a href="javascript:;"><img src="/img/狗粮.jpg" width="30%"></a>
                    <a  href="javascript:;"><img src="/img/猫粮.jpg" width="30%"></a>
                    <a  href="javascript:;"><img src="/img/清水的奥义.jpg" width="30%"></a>
                </div>
            </div>
            <div class="item item1 margin0 padding0">
                <a href="javascript:;"><img src="/img/龙猫.jpg" width="60%"></a>
                <a href="javascript:;"><img class="btm-img" src="/img/医疗保健.jpg" width="60%"></a>
            </div>
        </div>
    </div>

    <!-- 商品推荐   -->

    <div class="floors">
        <div class="sk">
            <div class="sk_inner w1200">
                <h2><img src="/images/gouliang.png" height="50" width="50"/>狗粮</h2>
                <div class="sk_hd" style="overflow: hidden;">
                    <a href="javascript:;">
                        <img src="/img/狗粮.jpg" width="300" height="300" style="margin-left:-40px;">
                    </a>
                </div>
                <div class="sk_bd">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item>
                            <div class="item-box">

                                <div class="item" th:each="dogfood : ${dogGoods}">
                                    <a href="/details"><img th:src="${dogfood.cover}"></a>
                                    <div class="price">
                                        <span th:text="'￥'+${dogfood.goods.price}+'.00'"></span>
                                        <del th:text="'￥'+${dogfood.goods.price+50}+'.00'"></del>
                                    </div>
                                    <div class="title" style="margin-top:-5px;"
                                         th:text="${dogfood.goods.goodsName}"></div>
                                </div>

                            </div>
                            <div class="item-box">

                                <div class="item" th:each="dogfood : ${dogGoods}">
                                    <a href="javascript:;"><img th:src="${dogfood.cover}"></a>
                                    <div class="price">
                                        <span th:text="'￥'+${dogfood.goods.price}+'.00'"></span>
                                        <del th:text="'￥'+${dogfood.goods.price+50}+'.00'"></del>
                                    </div>
                                    <div class="title" style="margin-top:-5px;"
                                         th:text="${dogfood.goods.goodsName}"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="floors">
        <div class="sk">
            <div class="sk_inner w1200">
                <h2><img src="/images/maoliang.png" height="50" width="50"/> 猫粮</h2>
                <div class="sk_hd" style="overflow: hidden;">
                    <a href="javascript:;">
                        <img src="/img/猫粮.jpg" width="300" height="300" style="margin-left:-40px;">
                    </a>
                </div>
                <div class="sk_bd">
                    <div class="layui-carousel" id="test2">
                        <div carousel-item>
                            <div class="item-box">

                                <div class="item" th:each="catfood : ${catGoods}">
                                    <a href="/details"><img th:src="${catfood.cover}"></a>
                                    <div class="price">
                                        <span th:text="'￥'+${catfood.goods.price}+'.00'"></span>
                                        <del th:text="'￥'+${catfood.goods.price+50}+'.00'"></del>
                                    </div>
                                    <div class="title" style="margin-top:-5px;"
                                         th:text="${catfood.goods.goodsName}"></div>
                                </div>

                            </div>
                            <div class="item-box">

                                <div class="item" th:each="catfood : ${catGoods}">
                                    <a href="/details"><img th:src="${catfood.cover}"></a>
                                    <div class="price">
                                        <span th:text="'￥'+${catfood.goods.price}+'.00'"></span>
                                        <del th:text="'￥'+${catfood.goods.price+50}+'.00'"></del>
                                    </div>
                                    <div class="title" style="margin-top:-5px;"
                                         th:text="${catfood.goods.goodsName}"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="product-cont w1200" id="product-cont">
        <div class="product-item product-item1 layui-clear">
            <div class="left-title">
                <h4><i>1F</i></h4>
                <img src="../layui/static/img/icon_gou.png">
                <h5>宠物信息</h5>
            </div>
            <div class="right-cont">
                <a href="javascript:;" class="top-img"><img src="../layui/static/img/img12.jpg" alt=""></a>
                <div class="img-box">
                    <a href="javascript:;"><img src="../layui/static/img/s_img7.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img8.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img9.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img10.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img11.jpg"></a>
                </div>
            </div>
        </div>
        <div class="product-item product-item2 layui-clear">
            <div class="left-title">
                <h4><i>2F</i></h4>
                <img src="../layui/static/img/icon_gou.png">
                <h5>宠物服务</h5>
            </div>
            <div class="right-cont">
                <a href="javascript:;" class="top-img"><img src="../layui/static/img/img12.jpg" alt=""></a>
                <div class="img-box">
                    <a href="javascript:;"><img src="../layui/static/img/s_img7.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img8.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img9.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img10.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img11.jpg"></a>
                </div>
            </div>
        </div>
        <div class="product-item product-item3 layui-clear">
            <div class="left-title">
                <h4><i>3F</i></h4>
                <img src="../layui/static/img/icon_gou.png">
                <h5>宠物周边</h5>
            </div>
            <div class="right-cont">
                <a href="javascript:;" class="top-img"><img src="../layui/static/img/img12.jpg" alt=""></a>
                <div class="img-box">
                    <a href="javascript:;"><img src="../layui/static/img/s_img7.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img8.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img9.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img10.jpg"></a>
                    <a href="javascript:;"><img src="../layui/static/img/s_img11.jpg"></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="footer">
    <div class="ng-promise-box">
        <div class="ng-promise w1200">
            <p class="text">
                <a class="icon1" href="javascript:;">7天无理由退换货</a>
                <a class="icon2" href="javascript:;">满99元全场免邮</a>
                <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
            </p>
        </div>
    </div>
    <div class="mod_help w1200">
        <p>
            <a href="javascript:;">关于我们</a>
            <span>|</span>
            <a href="javascript:;">帮助中心</a>
            <span>|</span>
            <a href="javascript:;">售后服务</a>
            <span>|</span>
            <a href="javascript:;">宠物商城</a>
            <span>|</span>
            <a href="javascript:;">关于货源</a>
        </p>
        <p class="coty">E-Shop版权所有 &copy; 2020-2030</p>
    </div>
</div>
<script type="text/javascript">

    layui.config({
        base: '../layui/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm', 'carousel'], function () {
        var carousel = layui.carousel,
            mm = layui.mm;
        var option = {
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always'
            , height: '298'
            , indicator: 'none'
        }
        var option2 = {
            elem: '#test2'
            , width: '100%' //设置容器宽度
            , arrow: 'always'
            , height: '298'
            , indicator: 'none'
        }
        carousel.render(option);
        carousel.render(option2);
        // 模版引擎导入
        // var ins = carousel.render(option);
        // var html = demo.innerHTML;
        // var listCont = document.getElementById('list-cont');
        // // console.log(layui.router("#/about.html"))
        //  mm.request({
        //    url: '../json/index.json',
        //    success : function(res){
        //      console.log(res)
        //      listCont.innerHTML = mm.renderHtml(html,res)
        //      ins.reload(option);
        //    },
        //    error: function(res){
        //      console.log(res);
        //    }
        //  })


    });


</script>
</body>
</html>