<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Shop宠物商城</title>
    <script src="/js/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../layui/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../layui/layui/css/layui.css">
    <script type="text/javascript" src="../layui/layui/layui.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="icon" href="../images/chongwu.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="list-cont">

<!--顶部导航栏-->
<div th:include="navigation :: nav"></div>


<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="E-Shop 宠物商城">
                    <img src="/images/logo.png" height="130" width="130"/>
                </a>
            </h1>
            <div class="mallSearch">
                <form action="" class="layui-form" novalidate>
                    <input type="text" name="title" required lay-verify="required" autocomplete="off"
                           class="layui-input" placeholder="请输入需要的商品">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <input type="hidden" name="" value="">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="/commodity" class="active">所有商品</a>
                    <a href="/buytoday">今日新增</a>
                    <a href="/about">关于我们</a>
                </div>
            </div>
        </div>
    </div>

    <!--      菜单-->
    <div class="main" id="main">
        <div class="menu-box">
        </div>
        <!--内容-->
        <div class="sub-menu hide" id="sub-menu">
            <div class="inner-box" th:each="allType : ${allTypeList}">
                <div class="sub-inner-box">
                    <div class="title" th:text="${allType.superType.typeName}"></div>
                    <div class="sub-row">
                        <span class="bold mr10" th:text="${allType.superType.typeName}"></span>

                        <span th:each="childType : ${allType.childTypeList}">
                                <a  th:onclick="'findByTypeId('+${childType.typeId}+')'"  th:text="${childType.typeName}"></a>
                                <span class="ml10 mr10">/</span>
                        </span>

                    </div>

                </div>
            </div>


        </div>
        <!-- 菜单 -->
        <div class="menu-content" id="menu-content" style="overflow:auto;">
            <div class="menu-item" th:each="allType : ${allTypeList}">
                <a href="">
                    <span th:text="${allType.superType.typeName}"></span>
                    <i class="icon">&#xe665;</i>
                </a>
            </div>

        </div>

        <!--    轮播图-->
        <div class="banner" id="banner">
            <a href="">
                <div class="banner-slide slide1 slide-active"></div>
            </a>
            <a href="">
                <div class="banner-slide slide2"></div>
            </a>
            <a href="">
                <div class="banner-slide slide3"></div>
            </a>
        </div>
        <a href="javascript:void(0)" class="button prev" id="prev"></a>
        <a href="javascript:void(0)" class="button next" id="next"></a>
        <div class="dots" id="dots">
            <span class="active"></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <script src="/js/script.js"></script>

    <!--热销推荐-->
    <div class="hot-recommend-con">
        <div class="hot-con1 w1200 layui-clear">
            <div class="item">
                <h4>热销推荐</h4>
                <div class="big-img">
                    <a href="javascript:;"><img src="/img/暖冬服饰.jpg" width="95%"/></a>
                </div>
            </div>
            <div class="item">
                <div class="top-img">
                    <a href="javascript:;"><img src="/img/铲屎官的必修课.jpg" width="97%" ></a>
                </div>
                <div class="bottom-img">
                    <a href="javascript:;"><img src="/img/狗粮.jpg" width="30%"></a>
                    <a  href="javascript:;"><img src="/img/猫粮.jpg" width="30%"></a>
                    <a  href="javascript:;"><img src="/img/清水的奥义.jpg" width="30%"></a>
                </div>
            </div>
            <div class="item item1 margin0 padding0">
                <a href="javascript:;"><img src="/img/龙猫.jpg" width="60%"></a>
                <a href="javascript:;"><img class="btm-img" src="/img/医疗保健.jpg" width="60%"></a>
            </div>
        </div>
    </div>

    <!-- 商品推荐   -->

    <div class="floors">
        <div class="sk">
            <div class="sk_inner w1200">
                <h2><img src="/images/gouliang.png" height="50" width="50"/>狗粮</h2>
                <div class="sk_hd" style="overflow: hidden;">
                    <a href="javascript:;">
                        <img src="/img/狗粮.jpg" width="300" height="300" style="margin-left:-40px;">
                    </a>
                </div>
                <div class="sk_bd">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item>
                            <div class="item-box">

                                <div class="item" th:each="dogfood : ${dogGoods}">
                                    <a th:href="'/goods/findById/'+${dogfood.goods.goodId}"><img th:src="${dogfood.cover}"></a>
                                    <div class="price">
                                        <span th:text="'￥'+${dogfood.goods.price}"></span>
                                        <del th:text="'￥'+${dogfood.goods.price+50}"></del>
                                    </div>
                                    <div class="title" style="margin-top:-5px;"
                                         th:text="${dogfood.goods.goodsName}"></div>
                                </div>

                            </div>
                            <div class="item-box">

                                <div class="item" th:each="dogfood : ${dogGoods}">
                                    <a th:href="'/goods/findById/'+${dogfood.goods.goodId}"><img th:src="${dogfood.cover}"></a>
                                    <div class="price">
                                        <span th:text="'￥'+${dogfood.goods.price}"></span>
                                        <del th:text="'￥'+${dogfood.goods.price+50}"></del>
                                    </div>
                                    <div class="title" style="margin-top:-5px;"
                                         th:text="${dogfood.goods.goodsName}"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="floors">
        <div class="sk">
            <div class="sk_inner w1200">
                <h2><img src="/images/maoliang.png" height="50" width="50"/> 猫粮</h2>
                <div class="sk_hd" style="overflow: hidden;">
                    <a href="javascript:;">
                        <img src="/img/猫粮.jpg" width="300" height="300" style="margin-left:-40px;">
                    </a>
                </div>
                <div class="sk_bd">
                    <div class="layui-carousel" id="test2">
                        <div carousel-item>
                            <div class="item-box">

                                <div class="item" th:each="catfood : ${catGoods}">
                                    <a th:href="'/goods/findById/'+${catfood.goods.goodId}"><img th:src="${catfood.cover}"></a>
                                    <div class="price">
                                        <span th:text="'￥'+${catfood.goods.price}"></span>
                                        <del th:text="'￥'+${catfood.goods.price+50}"></del>
                                    </div>
                                    <div class="title" style="margin-top:-5px;"
                                         th:text="${catfood.goods.goodsName}"></div>
                                </div>

                            </div>
                            <div class="item-box">

                                <div class="item" th:each="catfood : ${catGoods}">
                                    <a th:href="'/goods/findById/'+${catfood.goods.goodId}"><img th:src="${catfood.cover}"></a>
                                    <div class="price">
                                        <span th:text="'￥'+${catfood.goods.price}"></span>
                                        <del th:text="'￥'+${catfood.goods.price+50}"></del>
                                    </div>
                                    <div class="title" style="margin-top:-5px;"
                                         th:text="${catfood.goods.goodsName}"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--底部声明栏-->
<div th:include="footer :: footer"></div>


<script type="text/javascript">

    layui.config({
        base: '../layui/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm','util', 'carousel'], function () {
        var carousel = layui.carousel,
            mm = layui.mm;
        var util = layui.util;

        var option = {
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always'
            , height: '298'
            , indicator: 'none'
        }
        var option2 = {
            elem: '#test2'
            , width: '100%' //设置容器宽度
            , arrow: 'always'
            , height: '298'
            , indicator: 'none'
        }
        carousel.render(option);
        carousel.render(option2);
        // 模版引擎导入
        // var ins = carousel.render(option);
        // var html = demo.innerHTML;
        // var listCont = document.getElementById('list-cont');
        // // console.log(layui.router("#/about.html"))
        //  mm.request({
        //    url: '../json/index.json',
        //    success : function(res){
        //      console.log(res)
        //      listCont.innerHTML = mm.renderHtml(html,res)
        //      ins.reload(option);
        //    },
        //    error: function(res){
        //      console.log(res);
        //    }
        //  })

    });

    function findByTypeId(typeId){
        //设置页面全局属性
        window.localStorage.setItem("typeId",typeId);
        location.href="/commodity";
    }


</script>
</body>
</html>