<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Shop 登录账户</title>
    <script src="/js/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../layui/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../layui/layui/css/layui.css">
    <script type="text/javascript" src="../layui/layui/layui.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="icon" href="../images/chongwu.png" type="image/x-icon"/>
</head>
<body>

<!--顶部导航栏-->
<div th:include="navigation :: nav"></div>


<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="/" title="E-Shop 宠物商城">
                    <img src="/images/logo.png" height="130" width="130"/>
                </a>
            </h1>
        </div>
    </div>
</div>


<div class="content content-nav-base  login-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="/" class="active">首页</a>
                    <a href="/commodity" class="active">所有商品</a>

                </div>
            </div>
        </div>
    </div>
    <div class="login-bg">
        <div class="login-cont w1200">
            <div class="form-box" style="margin-top: -100px; height: 500px;">
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                    <legend>用户登录</legend>
                    <div class="layui-form-item">
                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <i class="layui-icon layui-icon-username iphone-icon"></i>
                                <input type="text" name="account" id="account" lay-verify="required"
                                       placeholder="请输入账号" autocomplete="off" class="layui-input"
                                      >

                            </div>
                        </div>
                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <i class="layui-icon layui-icon-password iphone-icon"></i>
                                <input type="password" name="psw" id="psw" lay-verify="required"
                                       placeholder="请输入密码" autocomplete="off" class="layui-input">

                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-row">
                            <div class="layui-col-xs7">
                                <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required"
                                       placeholder="验证码" class="layui-input">
                            </div>
                            <div class="layui-col-xs5">
                                <div style="margin-left: 10px;">
                                    <canvas id="canvas" width="100" height="45"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="/js/AuthCode.js"></script>

                    <!--是否记住密码-->
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="margin-left: -50px;">记住我</label>
                        <div class="layui-input-block" style="margin-left: -50px;">
                            <input type="checkbox" checked name="rem" lay-skin="switch">
                        </div>
                    </div>


                    <div class="layui-form-item login-btn">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" id="lay-buyer-login" lay-filter="lay-buyer-login">
                                登录
                            </button>
                        </div>
                    </div>
                    <a href="/reg" style="color: #b37fc7; margin-left:150px;">还没有账户?前往注册</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部声明栏-->
<div th:include="footer :: footer"></div>


<input type="hidden" id="acc" th:each="cookie :${#request.getCookies()}"
       th:if="${cookie.getName().equals('psw')}"
       th:value="${cookie.getValue()}">
<input type="hidden" id="pwd"  th:each="cookie :${#request.getCookies()}"
       th:if="${cookie.getName().equals('account')}"
       th:value="${cookie.getValue()}">

<script type="text/javascript">

    $("#account").val($("#acc").val());
    $("#psw").val($("#pwd").val());
    //移除登录属性
    // window.sessionStorage.removeItem("online");

    layui.config({
        base: '/layui/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['jquery', 'form','mm'], function () {
        var $ = layui.$, form = layui.form;
        var mm = layui.mm;
        //监听提交
        form.on('submit(lay-buyer-login)', function (data) {
            data.field;//获取表单中的所有数据(json格式)
            var code = show_num.join("").toLowerCase();
            var inputCode = data.field.vercode.toLowerCase();
            if (inputCode != code) {
                layer.alert("验证码错误");
                draw(show_num);
                return false;
            }

            $.post("/buyer/login",data.field,function(data){
                if(data){
                    //登陆成功
                    layer.msg("登录成功");
                    if(window.localStorage.getItem("index") != null){
                        window.localStorage.removeItem("index");
                        location.href = "/";
                    }else{
                        window.location.href = document.referrer ;//回到前一页并刷新该页
                    }

                }else{
                    layer.alert("账号或密码错误,请重试");
                    draw(show_num);
                }
            });

        });


    })
</script>

</body>
</html>